<form action="/payment/results">
<label for = "apr">APR</label>
<input id = "apr", type = "text" placeholder = "E.g. 5.42" name = "apr">

<label for = "number_of_years">Number of Years</label>
<input id = "number_of_years", type = "text" placeholder = "How many years to repay?" name = "num_years">

<label for = "principal">Principal</label>
<input id = "principal", type = "text" placeholder = "How much principal?" name = "principal">

<button>Calculate monthly payment</button>
</form>
