<form action="/random/results">
  <label for = "min">Minimum</label>
  <input id = "min", type = "text" placeholder = "Enter a minimum number" name = "min_num">

  <label for = "max">Maximum</label>
  <input id = "max", type = "text" placeholder = "Enter a maximum number" name = "max_num">

  <button>Pick random number</button>
</form>
<a href="">
