<form action="/square_root/results">
<label for = "root">Enter a number</label>
<input id = "root", type = "text" placeholder = "Enter a number here" name = "find_root">
<button>Calculate square root</button>
</form>
