<form action="/square/results">
<label for = "input">Enter a number</label>
<input id = "input", type = "text" placeholder = "Enter an integer here" name = "url_keep">
<button>Calculate square</button>
</form>
